# 마크다운
## 마크다운
### 마크다운
#### 마크다운
##### 마크다운

- code 모드 : y
- markdown 모드 : m

- b : 셀을 아래로 추가
- a : 셀을 위로 추가
- dd : 셀 삭제
- Ctrl  + enter : 셀 실행
- Shift + enter : 셀 실행 + 새로운 셀을 아래로 생성함

- 항목
  - 항목
    - 항목
      - 항목

In [4]:
# 한 줄 주석
'''
여러 줄 
주석
입니다
'''

'''
따옴표 속에 있는 부분 : 
        문자열 <-- string
'''
"""
문자열은
큰따옴표 작은따옴표 
모두 사용 가능함
"""

'''
할당(assignment) : 저장 / 연결
 = : 할당연산자
 
 이름표(변수)
  name  variable

'''

name = '더조은'
age = '21'
height = 182
weight = 73
address = "서울시 종로구"

print('name    :',name)
print('age     :',age)
print('height  :',height)
print('weight  :',weight)
print('address :',address)


'''
이름표는 data 하고 연결되어야
메모리에 올라감
'''
hobby = 'reading'
university = '종로대학교'

print('university')
print(university)
print('hobby')
print(hobby)

name    : 더조은
age     : 21
height  : 182
weight  : 73
address : 서울시 종로구
university
종로대학교
hobby
reading

In [8]:
number1 = 10
number2 = 20
result = number1 + number2
print('result :',result)

# 문자열에서 + 연산자 : 연결연산자
print('result : ' + str(result))

result : 30
result : 30