In [ ]:
'''
데이터의 형태
 data    type
 자료    형태  <-- 자료형
 
 type
 형(태)
 
  문자열 : string <-- str
  숫자 : 정수    / 실수
         Integer   Real Number   
         int       float  <--  floating point
  논리형 자료형 : boolean <-- bool       
'''

In [ ]:
'''
8진수 숫자0 + 알파벳(O(o)) + 숫자
                     octal
'''
number_8 = 0o214
print('number_8 :',number_8)

'''
16진수 숫자0 + 알파벳(X(x)) + 숫자
                      hexadecimal
'''
number_16 = 0x23
print('number_16 ;',number_16)

'''
2진수 숫자0 + 알파벳(B(b)) + 숫자
                      binary
'''
number_2 = 0b100
print('number_2 :',number_2)

In [5]:
'''
문자열 (string - str)

우리 학원은 더조은 학원입니다
'''
print('우리 학원은 더조은 학원입니다')
print("우리 학원은 더조은 학원입니다")

우리 학원은 더조은 학원입니다
우리 학원은 더조은 학원입니다

In [8]:
# 우리 학원은 '더조은' 학원입니다
print('우리 학원은 \'더조은\' 학원입니다')
print("우리 학원은 '더조은' 학원입니다")

우리 학원은 '더조은' 학원입니다
우리 학원은 '더조은' 학원입니다

In [10]:
# 우리 학원은 "더조은" 학원입니다
print("우리 학원은 \"더조은\" 학원입니다")
print('우리 학원은 "더조은" 학원입니다')

우리 학원은 "더조은" 학원입니다
우리 학원은 "더조은" 학원입니다

In [15]:
'''
우리 학원은 
더조은 
학원입니다

\n : 줄바꿈문자(개행문자)
'''
print('우리 학원은 \n더조은 \n학원입니다')
print('''우리 학원은 
더조은 
학원입니다''')

print('공백 문자열 :', ' ')
print('공백 문자열 :', '  ')
print('공백 문자열 :', '   ')
print('공백 문자열 :', '    ')

print('빈문자열 :','')

우리 학원은
더조은
학원입니다
우리 학원은
더조은
학원입니다
공백 문자열 :
공백 문자열 :
공백 문자열 :
공백 문자열 :
빈문자열 :

In [20]:
'''
이름 : 이순신, 나이 : 46 세
'''
print('이름 : 이순신, 나이 : 46 세')

name = '이순신'
age  = 46

print('이름 :',name,', 나이 :',age,'세')
print('이름 : ' + name + ', 나이 : ' + str(age) + ' 세')

이름 : 이순신, 나이 : 46 세
이름 : 이순신 , 나이 : 46 세
이름 : 이순신, 나이 : 46 세

In [24]:
print('이름 :',name,', 나이 :',age,'세')
print('이름 :',name,', 나이 :',age,'세',sep=' ')
print('이름 : ',name,' , 나이 : ',age,' 세',sep='')

이름 : 이순신 , 나이 : 46 세
이름 : 이순신 , 나이 : 46 세
이름 : 이순신 , 나이 : 46 세

In [28]:
print('더조은')
print('아이티',end=' ')
print('아카데미', end=', ')
print('학원')

더조은
아이티 아카데미, 학원