In [2]:
'''
이름 : 이순신, 나이 : 46 세
'''
print('이름 : 이순신, 나이 : 46 세')

name = '이순신'
age  = 46

'''
1) %-formatting (print formatting)
2) str.format() 메소드
3) f-string
'''

이름 : 이순신, 나이 : 46 세

In [5]:
'''
1) %-formatting (print formatting)
이름 : 이순신, 나이 : 46 세
 format-specifier
     ㄴ % : 양식(서식)문자 (format specifier)
     
서식문자
%s 문자열(String)
%d 정수(Integer)
%f 실수 - 부동소수점(floating-point)
%o 8진수
%x 16진수
%% Literal % (문자 % 자체)
%b  2진수
 
''' 
print('이름 : 이순신, 나이 : 46 세')
print('이름 : %s, 나이 : %d 세' % (name, age))

이름 : 이순신, 나이 : 46 세
이름 : 이순신, 나이 : 46 세

In [10]:
'''
2) str.format() 메소드
'''
print('이름 : {}, 나이 : {} 세'.format(name, age))
print('이름 : {0}, 나이 : {1} 세'.format(name, age))
print('나이 : {} 세, 이름 : {}'.format(name, age))
print('나이 : {0} 세, 이름 : {1}'.format(name, age))
print('나이 : {1} 세, 이름 : {0}'.format(name, age))

이름 : 이순신, 나이 : 46 세
이름 : 이순신, 나이 : 46 세
나이 : 이순신 세, 이름 : 46
나이 : 이순신 세, 이름 : 46
나이 : 46 세, 이름 : 이순신

In [11]:
'''
3) f-string
'''
print(f'이름 : {name}, 나이 : {age} 세')

이름 : 이순신, 나이 : 46 세

In [12]:
print('이름 : %s, 나이 : %d 세' % (name, age))
print('이름 : {}, 나이 : {} 세'.format(name, age))
print(f'이름 : {name}, 나이 : {age} 세')

이름 : 이순신, 나이 : 46 세
이름 : 이순신, 나이 : 46 세
이름 : 이순신, 나이 : 46 세