In [ ]:
'''
FinanceDataReader 라이브러리 사용하기
  ㄴ 한국 주식 가격, 미국 주식 가격, 지수, 환율, 암호화폐 가격,
     종목 리스트 등 금융 데이터 수집 라이브러리
'''
# 설치하기
# !pip install -U finance-datareader

In [ ]:
import FinanceDataReader as fdr
print(fdr.__version__)

In [ ]:
import pandas as pd
import numpy as np

krx_df = pd.read_csv('https://raw.githubusercontent.com/corazzon/finance-data-analysis/main/krx.csv')
krx_df.shape

In [ ]:
'''
한국 거래소 상장 종목 전체
'''
krx_df[:15]

In [ ]:
krx_df.info()

In [ ]:
krx_df.describe()

In [ ]:
'''
DataFrame 을 csv 파일로 저장하기 : DataFrame 의 to_csv() 메소드

krx_df.to_csv('csv 파일 이름 지정')
'''
krx_df.to_csv('krx.csv', index=False, encoding='cp949')

In [ ]:
pd.read_csv('krx.csv', encoding='cp949')

In [ ]:
krx_df.columns

In [ ]:
krx_df.values

In [ ]:
krx_df['Name']

In [ ]:
# 여러 개의 column 가져오기
krx_df[['Symbol', 'Name']][:6]

In [ ]:
# 여러 개의 row(행) 가져오기
# krx_df[[0, 2, 4, 5]]

krx_df[2:5]
krx_df.iloc[[0, 2, 4, 5]]
krx_df.loc[[0, 2, 4, 5]]

In [ ]:
krx_df[:20]

In [ ]:
krx_df.loc[[1, 2, 4, 7, 8], 'Name']

In [ ]:
krx_df.iloc[[1, 2, 4, 7, 8], 2]

In [ ]:
krx_df.loc[[2, 4, 5, 7, 8 ], ['Symbol', 'Name']]

In [ ]:
'''
상장사 이름이 NAVER 인 회사의 정보 조회하기
'''
krx_df[krx_df['Name']=='NAVER']

In [ ]:
'''
서울특별시에 소재지를 두고 있는 
             Region
KOSPI 종목의 종목명과 심볼 가져오기
     Market  Name     Symbol(종목코드)
'''
krx_df.columns

In [ ]:
krx_df[:6]

In [ ]:
condition1 = krx_df['Region'] == '서울특별시'
condition2 = krx_df['Market'] == 'KOSPI'

krx_df[condition1 & condition2][['Name','Symbol']]

'''
loc[행, 열(컬럼)] 연산자
loc[조건, 컬럼]
'''
krx_df.loc[condition1 & condition2, ['Name','Symbol']]

In [ ]:
krx_df.columns

In [ ]:
krx_df.info()

In [55]:
'''
상장일(ListingDate) 의 dtype 을 datetime type 으로 변환하기
'''
krx_df['ListingDate'] = pd.to_datetime(krx_df['ListingDate'])

'''
컬럼을 datetime type 으로 변환하면
dt. 속성으로 접근해서 세부 정보를 얻을 수 있음
                      년월일시분초
'''
# 'ListingYear' 라는 컬럼을 새로 만들고
# krx_df['ListingDate']  에서 년도 정보 추출해서
# 'ListingYear' 라는 컬럼에 할당하기
krx_df['ListingYear'] = krx_df['ListingDate'].dt.year

krx_df[['ListingDate', 'ListingYear']]

krx_df[['ListingDate', 'ListingYear']].dtypes

ListingDate    datetime64[ns]
ListingYear           float64
dtype: object